body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .loading {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
  .container2 {
    display: flex;
    width: 100vw;
    height: 95vh;
    flex-direction: row;
  }
  
  .encrypt {

  }
  
  .title {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .tutorial, button {
    background-color: #632dc8;
    color: white;
  }

  a {
    color: #632dc8;
  }
  
  .input {
    display: none;
  }
  
  .encrypt,
  .tutorial {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
  }
  
  .upload {
    background-color: rgb(219, 219, 219);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto; 
    margin-bottom: 15px;
  }

  .file-label {
    display: block;
  }
  
  .pass {
    margin: 10px 0;
    
  }
  
  #uploaded-image-container {
    
  }
  
  #uploaded-image {
    display: none;
    max-width: 100%; 
      max-height: 100%; 
      margin: auto;
  }

  #uploaded-image2 {
    display: block;
    max-width: 100%; 
      max-height: 100%; 
      margin: auto;
  }
  
  .down-enc {
    margin-top: 15px;
  }

.decrypt {
  text-align: center;
  padding-top: 5px;
}


.get-pass {
  margin-top: 15px;
}

.btn-custom {
  background-color: #632dc8;
  border-color: #632dc8;
  color: #fff; 
}

.btn-custom:hover {
  background-color: #501a8e; 
  border-color: #501a8e;
  color: #fff; 
}

a:hover {
  color: #501a8e;
}

li {
  margin-bottom: 5px;
}