<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Encrypt and Decrypt</title>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Image Encryption and Decryption</h1>
        <img src="{{ image_path }}" alt="Uploaded/Encrypted/Decrypted Image" style="max-width: 400px;"/>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <label for="encrypt">Encrypt</label>
            <input type="file" id="encrypt" name="file" accept="image/*">
            <input type="submit" value="Encrypt">
        </form>
        { % if value %} 
        <p>{{value}}</p>
    {% if image_path %}
        <form action="{{ url_for('decrypt') }}" method="post">
            <image class="img" src="{{ url_for('static', filename='images/{{ image_path }}')}}" rel="stylesheet" type="text/css" /> 
            <label for="decrypt">Decrypt</label>
            <input type="submit" value="Decrypt">
        </form>
    {% endif %}
</body>
</html>
